// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}


li {
    list-style-type: none;
}

.navbar{
    height: 5rem;
}

.nav-item{
    color: orange;
    font-size: larger;
    font-weight: bold;
}

.nav-item:hover{
    color: red;
}

.homePageImg{
    width: 200px;
    height: 200px;
}

.homePizza{
    height: 300px;
    width: 300px;
    margin-left: 500px;
    margin-top: 100px;
}

.homePageHeading{
    text-align: center;
    color: red;
}

.homeCopy{
    text-align: center;
}

.inCenter{
    margin-left: 500px;
}


